<section id="comment-<%= commentIdx %>" class="comment">
  <header class="comment-header" id="comment-<%= commentIdx %>-header" style="display: flex;">
    <a href="profiles/<%= comment.ownerId %>">
      <img
        id="avatar-img"
        src="<%= comment.avatar %>"
        alt="<%= comment.name %> avatar"
      >
    </a>
    <div id="comment-info">
      <div id="comment-owner">
        <%= comment.name %>
      </div>
      <div id="comment-timestamp">
        <%= comment.createdAt.toLocaleDateString() + " at " + comment.createdAt.toLocaleTimeString().slice(0, -6) + comment.createdAt.toLocaleTimeString().slice(-3) %> 
      </div>
    </div>
  </header>
  <section id="comment-body">
    <div id="comment-text-body">
      <form id="edit-text-form" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PATCH" method="POST">
        <input class="os-data" type="hidden" name="os">
        <input type="hidden" name="routebackpath" value="<%= routebackpath %>" >
        <textarea 
          id="post-<%= postIdx %>-comment-<%= commentIdx %>-text"
          class="user-comment-text post-<%= postIdx %>-comment"
          name="text"
          rows="1"
          cols="200"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
          readonly
        ><%= comment.text %></textarea>
        <div id="edit-post-<%= postIdx %>-comment-<%= commentIdx %>-text" class="edit-comment-body hidden-btn">
          <button id="update-post-<%= postIdx %>-comment-<%= commentIdx %>-btn" class="edit-btn update-comment-btn" type="submit">
            Submit
          </button>
          <button id="cancel-edit-post-<%= postIdx %>-comment-btn-<%= commentIdx %>" class="cancel-edit-comment-btn edit-btn" type="button">
            Cancel
          </button>
        </div>
      </form>
      <% if (comment.ownerId === user.profile._id.toString()) { %>
        <div class="dropdown comment-edit-dropdown">
          <button id="post-<%= postIdx %>-comment-<%= commentIdx %>-edit-dropdown" class="edit-comment-dropdown" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <button id="edit-post-<%= postIdx %>-comment-btn-<%= commentIdx %>" class="dropdown-item edit-comment-btn">
                <i class="fas fa-pen"></i> Edit Comment
              </button>
            </li>
            <li>
              <form class="dropdown-item" action="/posts/<%= post._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <input type="hidden" name="routebackpath" value="<%= routebackpath %>" >
                <button class="edit-comment-btn" type="submit">
                  <i class="fas fa-trash-alt"></i> Delete Comment
                </button>
              </form>
            </li>
          </ul>
        </div>
      <% } %>
    </div>
    <div id="comment-actions">
      <form action="/posts/<%= post._id %>/comments/<%= comment._id %>/toggleLike?_method=PATCH" method="POST">
        <input class="os-data" type="hidden" name="os">
        <input type="hidden" name="routebackpath" value="<%= routebackpath %>" >
        <button id="post-<%= postIdx %>-like-comment-<%= commentIdx %>-btn" class="like-btn <%= (comment.likes.includes(user.profile._id)) ? "action-highlight" : "" %>" type="submit">
          <i class="fas fa-thumbs-up"></i>
          Like
        </button>
      </form>
    </div>
  </section>
</section>