<article>
  <header id="post-header">
    <a href="profiles/<%= post.owner._id %>">
      <img
        id="avatar-img"
        src="<%= post.owner.avatar %>" 
        alt="<%= post.owner.name %> avatar"
      >
    </a>
    <div id="post-info">
      <div id="post-owner">
        <%= post.owner.name %>
      </div>
      <div id="post-timestamp">
        <%= post.createdAt.toLocaleDateString() + " at " + post.createdAt.toLocaleTimeString().slice(0, -6) + post.createdAt.toLocaleTimeString().slice(-3) %> 
      </div>
    </div>
    <div id="edit-link-wrapper">
      <% if (post.owner._id.toString() === user.profile._id.toString()) { %>
        <a id="edit-link" href="/posts/<%= post._id %>/edit">Edit</a>
      <% } %>
    </div>
  </header>
  <section>
    <%= post.text %> 
  </section>
  <footer>
    <div id="post-stats">
      <i class="fas fa-thumbs-up"></i>
      <i class="fas fa-comment"></i>
      <i class="fas fa-star"></i>
    </div>
    <div id="post-actions">
      <div>
        <form action="/posts/<%= post._id %>/toggleLike?_method=PATCH" method="POST">
          <button class="post-action-btn <%= (post.likes.includes(user.profile._id)) ? "action-highlight" : "" %> ">
            <i class="fas fa-thumbs-up"></i>
            Like
          </button>
        </form>
      </div>
      <div>
        <button id="comment-btn-<%= idx %>" class="comment-btn post-action-btn <%= (post.comments.some(comment => comment.ownerId === user.profile._id.toString())) ? "action-highlight" : "" %> ">
          <i class="fas fa-comment"></i>
          Comment
        </button>
      </div>
      <div>
        <form action="/profiles/<%= user.profile._id %>/toggleFavorite?_method=PATCH" method="POST">
          <input type="hidden" name="postId" value="<%= post._id %>">
          <button class="btn  post-action-btn <%= (post.favorites.includes(user.profile._id)) ? "action-highlight" : "" %> " type="submit">
            <i class="fas fa-star"></i>
            Favorite
          </button>
        </form>
      </div>
    </div>
    <section id="post-<%= idx %>-comments" class="post-comments" style="display: none;">
      <div id="blank-comment">
        <form action="/posts/<%= post._id %>/comments" method="POST">
          <img
            id="blank-comment-avatar-img"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          >
          <textarea class="comment-text" name="text" style="resize: none;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' outline="none" rows="2" placeholder="Add a comment..."></textarea>
          <button id="comment-btn" type="submit">
            Submit
          </button>
        </form>
      </div>
      <% post.comments.forEach(function(comment, idx) { %>
        <%- include('../partials/comment', {comment, idx}) %>
      <% }) %>
    </section>
  </footer>
</article>