<article>
  <header id="post-header">
    <a href="profiles/<%= post.owner._id %>">
      <img
        id="avatar-img"
        src="<%= post.owner.avatar %>" 
        alt="<%= post.owner.name %> avatar"
      >
    </a>
    <div id="post-info">
      <div id="post-owner">
        <%= post.owner.name %>
      </div>
      <div id="post-timestamp">
        <%= post.createdAt.toLocaleDateString() + " at " + post.createdAt.toLocaleTimeString().slice(0, -6) + post.createdAt.toLocaleTimeString().slice(-3) %> 
      </div>
    </div>
    <div id="post-header-spacer"></div>
    <div id="edit-post-wrapper">
      <% if (post.owner._id.toString() === user.profile._id.toString()) { %>
        <div class="dropdown">
          <a id="post-edit-dropdown" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/posts/<%= post._id %>/edit">
                <i class="fas fa-pen"></i> Edit Post
              </a>
            </li>
            <li>
              <form class="dropdown-item" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button id="delete-btn" class="edit-dropdown-btn" type="submit">
                  <i class="fas fa-trash-alt"></i> Delete Post
                </button>
              </form>
            </li>
          </ul>
        </div>
      <% } %>
    </div>
  </header>
  <section>
    <%= post.text %> 
  </section>
  <footer>
    <div id="post-<%= postIdx %>-stats" class="post-stats">
      <!-- <div class="post-stats-bar"></div> -->
      <div class="post-likes-stat hidden-stat" id="post-<%= postIdx %>-likes" data-count="<%= post.likes.length %>">
        <i class="fas fa-thumbs-up"></i>
        <div id="post-<%= postIdx %>-like-count" style="display: inline;">
          <%= post.likes.length %>
        </div>
      </div>
      <div class ="post-comments-stat hidden-stat" id="post-<%= postIdx %>-comments" data-count="<%= post.comments.length %>">
        <i class="fas fa-comment"></i>
        <div id="post-<%= postIdx %>-comment-count" style="display: inline;">
          <%= post.comments.length %>
        </div>
      </div>
      <div class ="post-favorites-stat hidden-stat" id="post-<%= postIdx %>-favorites" data-count="<%= post.favorites.length %>">
        <i class="fas fa-star"></i>
        <div id="post-<%= postIdx %>-favorite-count" style="display: inline;">
          <%= post.favorites.length %>
        </div>
      </div>
    </div>
    <div id="post-actions">
      <div>
        <form action="/posts/<%= post._id %>/toggleLike?_method=PATCH" method="POST">
          <button id="like-post-<%= postIdx %>-btn" class="post-action-btn like-post-btn <%= (post.likes.includes(user.profile._id)) ? "action-highlight" : "" %>">
            <i class="fas fa-thumbs-up"></i>
            Like
          </button>
        </form>
      </div>
      <div>
        <button id="comment-btn-<%= postIdx %>" class="post-action-btn comment-btn  <%= (post.comments.some(comment => comment.ownerId === user.profile._id.toString())) ? "action-highlight" : "" %>">
          <i class="fas fa-comment"></i>
          Comment
        </button>
      </div>
      <div>
        <form action="/profiles/<%= user.profile._id %>/toggleFavorite?_method=PATCH" method="POST">
          <input type="hidden" name="postId" value="<%= post._id %>">
          <button id="favorite-post-<%= postIdx %>-btn" class="post-action-btn favorite-post-btn <%= (post.favorites.includes(user.profile._id)) ? "action-highlight" : "" %>" type="submit">
            <i class="fas fa-star"></i>
            Favorite
          </button>
        </form>
      </div>
    </div>
    <section id="post-<%= postIdx %>-comments-section" class="post-comments" style="display: none;">
      <div id="blank-comment">
        <form action="/posts/<%= post._id %>/comments" method="POST">
          <img
            id="blank-comment-avatar-img"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          >
          <textarea class="comment-text" name="text" style="resize: none;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' outline="none" rows="2" placeholder="Add a comment..."></textarea>
          <button id="comment-btn" type="submit">
            Submit
          </button>
        </form>
      </div>
      <% post.comments.forEach(function(comment, commentIdx) { %>
        <%- include('../partials/comment', {comment, postIdx, commentIdx}) %>
      <% }) %>
    </section>
  </footer>
</article>