<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<script src="https://kit.fontawesome.com/73eb34af13.js" crossorigin="anonymous"></script>

</head>
<body>
  <main>
    <header>
      <img src="https://picsum.photos/800/200" alt="">
      <img
        id="profile-image"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </header>
    <% if (isSelf) { %>
      <% profile.posts.forEach(function(post) { %>
        <%- include('../partials/post', {post: post}) %>
      <% }) %>
    <% } else { %>
      <% if (user.followedProfiles && user.followedProfiles.includes(profile._id)) { %>
        <a href="#">
          <i class="fas fa-user-minus profile-icon"></i>
        </a>
        <% profile.posts.forEach(function(post) { %>
          <%- include('../partials/post', {post: post}) %>
        <% }) %>
      <% } else { %>
        <a href="#">
          <i class="fas fa-user-plus profile-icon"></i>
        </a>
      <% } %>
    <% } %>
  </main>

<%- include('../partials/footer') %>