<%- include('./partials/html-head') %>
<%- include('./partials/nav', {nav: ""}) %>

<main>
  <img id="foodbook-logo"src="/images/foodBook_Icon.svg" alt="food book icon">
  <img id="splash-bg" src="/images/CookingFamily.jpg" alt="A family cooking in the kitchen">
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
