<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/nav.css">
<link rel="stylesheet" href="/stylesheets/posts/new.css">

</head>
<body>
  <form action="/posts/<%= post._id %>?_method=PATCH" method="POST">
    <nav>
      <a href="/">Cancel</a>
      <div>Edit Post</div>
      <button type="submit">Save</button>
    </nav>
    <main>
      <header>
        <img 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar"
        >
        <div><%= user.profile.name %></div>
      </header>
      <textarea id="text-input" name="text" style="resize: none;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' outline="none">
        <%= post.text %>
      </textarea>
    </main>
  </form>

<%- include('../partials/footer') %>