<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/nav.css">
<link rel="stylesheet" href="/stylesheets/posts/new.css">

</head>
<body>
  <form action="/posts" method="POST">
    <nav>
      <a class="cancel-link" href="/">Cancel</a>
      <div>New Post</div>
      <button type="submit">Post</button>
    </nav>
    <main>
      <header>
        <img 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar"
        >
        <div><%= user.profile.name %></div>
      </header>
        <textarea id="text-input" name="text" style="resize: none;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' outline="none" placeholder="What's new in the food world, <%= user.profile.name %>?"></textarea>
    </main>
  </form>

<%- include('../partials/footer') %>